* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1281px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  height: 40px;
  background: black;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

nav a {
  color: white;
}

.nav__logo {
  border-right: 1px solid white;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.nav__sign {
  border-right: 1px solid white;
  padding-left: 18px;
  width: 170px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__sign:hover {
  border-bottom: 3px solid #006def;
}

.nav__sign i {
  margin-right: 5px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
}

li {
  height: 100%;
  border-right: 1px solid white;
}

li a {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 20px;
}

.home:hover {
  border-bottom: 3px solid white;
}

.news:hover {
  border-bottom: 3px #bb1919 solid;
}

.sport:hover {
  border-bottom: 3px #ffd240 solid;
}

.reel:hover {
  border-bottom: 3px #0068ff solid;
}

.worklife:hover {
  border-bottom: 3px #0052a1 solid;
}

.travel:hover {
  border-bottom: 3px #589e50 solid;
}

.future:hover {
  border-bottom: 3px #0b407e solid;
}

.culture:hover {
  border-bottom: 3px #482878 solid;
}

.more {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%;
  border-right: 1px solid white;
  margin-right: 20px;
  padding-right: 15px;
}

.more:hover {
  border-bottom: 3px white solid;
}

.more select {
  background: black;
  color: white;
  border: 0;
  margin-left: 40px;
  cursor: pointer;
}

form {
  position: relative;
}

form:hover {
  background: gray;
}

form i {
  position: absolute;
  right: 8px;
  top: 12px;
}

input {
  border: 0;
  cursor: pointer;
  width: 180px;
  height: 23px;
}

input:hover {
  background: gray;
}

input:focus {
  outline: 0;
}

::placeholder {
  color: black;
  opacity: 1;
  font-weight: bold;
}

/* MAIN ============================== */

.title {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 10px;
}

.welcome {
  color: #4a4a4a;
}

.date {
  color: #8c8c8c;
}

main {
  display: flex;
  justify-content: space-between;
  height: 335px;
}

main section {
  flex-basis: 49%;
}

.left-section {
  background: url(images/israel.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.left-section div {
  color: white;
  margin: 10px;
}

.left-section h1 {
  font-size: 29px;
}

.left-section p {
  margin-top: -10px;
  margin-bottom: 10px;
}

.left-section a {
  border-left: 2px solid red;
  padding-left: 10px;
  color: white;
}

.left-section a:hover {
  text-decoration: underline;
}

.left-section:hover {
  opacity: .9;
  cursor: pointer;
}

.right-section {
  display: flex;
  flex-flow: wrap;
  font-size: 15px;
}

.right-section .item {
  flex-basis: 50%;
}

.right-section .item:hover {
  opacity: .9;
  cursor: pointer;
}

.item div {
  margin: 10px;
  margin-top: 85px;
  color: white;
}

.item div a {
  color: white;
}

.item div a:hover {
  text-decoration: underline;
}

.item div h3 {
  margin-bottom: 5px;
}

.americans {
  background: no-repeat url(images/americans.jpg);
  background-size: 95%;
}

.americans a {
  border-left: 2px solid #0068ff;
  padding-left: 10px;
}

.vaccine {
  background: no-repeat url(images/coronavirus.jpg);
  background-size: 95%;
}

.vaccine a {
  border-left: 2px solid red;
  padding-left: 10px;
}

.gym {
  background: no-repeat url(images/gyms.jpg);
  background-size: 95%;
}

.gym a {
  border-left: 2px solid #0068ff;
  padding-left: 10px;
}

.gym div {
  margin-top: 100px;
}

.singer {
  background: no-repeat url(images/singer.jpg);
  background-size: 95%;
}

.singer a {
  border-left: 2px solid #482878;
  padding-left: 10px;
}

.news-title {
  margin-top: 50px;
  color: #4a4a4a;
  margin-bottom: 15px;
}

.news-title span {
  color: red;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom section {
  flex: 1;
  margin-right: 15px;
}

.bottom section:hover {
  opacity: .9;
  cursor: pointer;
}

.bottom h3,
.bottom p {
  margin-bottom: 10px;
}

.bottom p {
  font-size: 15px;
  color: #4a4a4a;
  font-weight: 500;
}

.bottom h3 a {
  color: #212121;
}

.bottom section > a {
  color: #767676;
  border-left: 2px solid red;
  padding-left: 10px;
}

.bottom section > a:hover {
  text-decoration: underline;
}

@media all and (max-width: 768px) {
  * {
    flex-direction: column;
  }

  img {
    max-width: 100%;
  }

  ul,
  .nav__sign,
  .more,
  form,
  .nav__logo {
    display: none;
  }

  /* .nav__logo {
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 7px;
  } */

  i {
    color: white;
  }

  .mobile-menu {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  i {
    cursor: pointer;
  }

  .fa-circle-user:hover {
    border-bottom: 3px solid #0052a1;
  }

  .hamburguer:hover,
  .fa-magnifying-glass:hover {
    border-bottom: 3px solid white;

  }

  .mobile-menu a {
    margin: auto;
  }

  .hamburguer {
    margin-right: 20px;
  }

  .bar {
    background: white;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    cursor: pointer;
  }

  .title {
    display: none;
  }

  p {
    display: none;
  }
  
  .left-section {
    margin-top: 10px;
  }

  .left-section div {
    height: 200px;
    padding-top: 80px;
  }

  .left-section h1 {
    font-size: 1.5rem;
  }

  .right-section {
    margin-top: 40px;
    flex-wrap: nowrap;
    display: block;
  }

  .right-section h3 {
    color: black;
  }

  .right-section .item {
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: 0;
  }

  .item div {
    margin: 0;
    border-bottom: 1px solid #d3d3d3;    margin-bottom: 10px;
    padding-bottom: 10px;

  }

  .item div a {
    color: gray;
    margin-bottom: 10px;
  }

  .news-title {
    margin-top: 210px;
  }

  .bottom img {
    display: none;
  }

  .bottom section {
    border-bottom: 1px solid #d3d3d3;    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .right-section h3,
  .bottom h3 a {
    font-size: 16px;
    color: black;
  }

  .category {
    font-size: .75rem;
  }
}